/* styles.css */
body {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1rem;
}

main {
    padding: 1rem;
}

section {
    margin-bottom: 1rem;
}

h1, h2 {
    margin: 0 0 1rem 0;
}

#registration-section, #login-section {
    display: none;
}

.btn-orange {
    background-color: #F6511D;
    border-color: #F6511D;
    color: white;
    font-size: 16px;
    width: 100%;
    max-width: 150px;
}

.btn-orange:hover {
    background-color: #F6511D;
    border-color: #F6511D;
}

/* Styles pour les écrans plus larges */
@media (min-width: 768px) {
    .container .col-sm-4 {
        max-width: 70% !important; /* Augmenter la largeur du formulaire */
    }

    .container .form-control {
        font-size: 16px !important; /* Augmenter la taille des champs */
    }
}

@media (min-width: 1024px) {
    .container .col-sm-4 {
        max-width: 80% !important; /* Augmenter encore la largeur du formulaire */
    }

    .container .form-control {
        font-size: 18px !important; /* Augmenter la taille des champs */
    }
}

